*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetiva neue';
}

html,body {
    height: 100%;
    width: 100%;
}

.card{
    background-color: pink;
    border-radius: 10px;
    margin: 5px;
    padding: 20px;
}

.nav{
    background-color: aqua;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}