*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetiva neue';
}

html,body {
    height: 100%;
    width: 100%;
}

.parent{
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card{
  width: 300px;
  border: 2px solid maroon;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  background-color: mistyrose;
}

.card button{
  margin: 10px;
  padding: 5px 5px;
  background-color: wheat;
  border-radius: 10px;
}

.card p{
  margin: 5px;
}

.card img{
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 50%;
}